/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: lightgray;}

#login {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin-top: 3%;
    color: #7b1fa2;
}

::ng-deep .custom-tab-nav-bar .mat-tab-link {
    color: #ff0000 !important; /* Valfri färg */
  }
  
  ::ng-deep .custom-tab-nav-bar .mat-tab-link.active {
    color: #00ff00 !important; /* Valfri färg för aktiv länk */
  }
  
  ::ng-deep .custom-tab-nav-bar .mat-tab-link.mat-tab-label-active {
    color: #00ff00 !important; /* Valfri färg för aktiv länk */
  }
  