<h1>Registrera</h1>
<div id="login">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Användarnamn</mat-label>
      <input matInput id="username">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>E-post</mat-label>
      <input matInput id="email">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Lösenord</mat-label>
      <input type="password" matInput id="password">
    </mat-form-field>
  </form>

  <div class="example-button-row">
    <button mat-raised-button (click)="register()" color="primary">Registrera</button>
  </div>
</div>
